:root{
    --bg-color: #7b7b85;
    --bg-header-color: #000000;
    --bg-menu-color: #000000;
    --bg-container-home: #ffffff;
}

body {
    background-color: var(--bg-color);
}

header {
    background-color: var(--bg-header-color);
}

menu{
    background-color: var(--bg-menu-color);
}

.orientacoes_gerais_content {
    background-color: var(--bg-container-home);
}