:root{
    --bottom-color: #fd7e07;
    --menu-font-color: #fcfaf8;
    --menu-font-color-hover: #ffffff;
}
menu{
    display: flex;
    justify-content: center;
    padding: 10px;
}

menu > a {
    margin: 2px;
    padding: 10px;

    text-decoration: none;
    color: var(--menu-font-color);
    border: 1px solid var(--bottom-color);
    border-radius: 5px;
    transition: color 1s;
}

menu > :hover {
    background-color: var(--bottom-color);
    color: var(--menu-font-color-hover);
}